#main-header img{
    width: 100%;
    height: 100%;
}

.bg-black {
    background: #000;
    color: white;
}

.na-icon {
    width: 30%;
}


.na-icon :hover{
    opacity: 80%;
    cursor: pointer;
}

@media(min-width:768px){
    .na-icon{
        padding: 1.02em !important;
    }
}

.submit{
    cursor: pointer;
}

